# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
db.sqlite3
*.db
*.bak
**/migrations/

# Django specific
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
staticfiles/
local_settings.py
.env

/media/
media/
bookhub/books/data/